<!DOCTYPE html>
<html>
<head>
    <title>Verify Your Email</title>
</head>
<body style="margin: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #333333; background-color: #fff;">
<center>
    <table style="width: 100%; height: 100%;">
        <tr>
            <td style="width: 100%;">

                <table style="background-color: #fff; width: 935px;">
                    <tr>
                        <td style="padding-bottom: 20px; padding-top: 10px; padding-left: 10px;"></td>

                        <!-- HEADER MESSAGE -->
                        <td style="padding-left: 30px; padding-bottom: 20px; padding-top: 10px;"><h2>Сброс пароля</h2></td>


                        <td style="padding-bottom: 20px; padding-top: 10px; padding-left: 10px;">

                        </td>
                    </tr>

                    <tr>
                        <td style="text-align: center; padding-top: 20px;" valign="top">


                        </td>
                        <td colspan="2" style="padding-left: 30px;">

                            <!-- MESSAGE -->

                            <p>
                                Для сброса пароля вашей
                                <App Name> учетной записи нажмите на ссылку ниже в течении следующих ${expireHours} часов.
                            </p>
                            <p>
                                <a href="${platformUrl}/api/emailconfirm/${token}">Сбросить мой пароль</a>
                            </p>

                            <p>
                                Спасибо за использование нашего сервиса
                                <App Name>!
                            </p>

                            <!-- LEGALESE -->

                            <div style="font-size: 12px;">
                                <p>Пожалуйста не отвечайте на это автоматически сгенерированное письмо.</p>
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</center>
</body>
</html>
